
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icon');

@import '~vuetify/dist/vuetify.min.css'; // Ensure you are using css-loader

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
